*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --mainColor: #0078AF;
  --mainColor2: #666666;
  --secondaryColor: #000000;
  --secondaryColor2: #fff;
  --textColor: rgb(255, 255, 255);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  padding: 10px;
  height: 100vh;
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-flow: column;
  align-items: center;
  align-content: center;
  gap: 50px 50px;
}
body2{

  background-image: url('./INDEX/Fondo.png');
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  gap: 10px 100px;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}
content{
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items:first baseline;
  border: 0px solid black;
  gap: 100px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

div text{
  display: flex;
  flex-flow: row wrap;
  align-content: start;
  align-self: start;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 1.0em;
  line-height: 0.5;
  font-family: Arial, Helvetica, sans-serif;
}
h3{
  padding: 0px;
    display: flex;
    font-size: 10px;
    flex-flow: row wrap;
    align-items: center;
    border: 0px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
form{
  display: flex;
  padding: 1px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 10px 1px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.1em;
  font-size: 0.9em;
  font-weight: 200;
  background-color: #0078AF;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.1em 1.1em;
  font-size: 0.7em;
  font-weight: 200;
  font-family: inherit;
  color: #f9f9f9;
  background-color: #0078AF;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: Arial, Helvetica, sans-serif;
}
button:hover {
  border-color: #0078AF;
  background-color: #ffffff;
  color: #0078AF;
}
.btn:hover {
  border-color: #0078AF;
  background-color: #ffffff;
  color: #0078AF;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.encabezado-tabla{
padding: 5px;
display: flex;
justify-content: space-around
;
flex-flow: row wrap;
border: 0px solid black;


}

@media (prefers-color-scheme: light) {
  :root {
    color: #070707;
    background-color: #ffffff;
  }
  a:hover {
    color:#0078AF;
  }
  button {
    background-color: #f9f9f9;
  }
}
 
input {
  padding: 3px;
  display: flex;
  background-color: #daf3ff;
  flex-flow: row wrap;
  justify-content: flex-start;
  border: 0px solid black;
  gap: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
}
textbox {
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: flex-start;
  border: 0px solid black;
  gap: 50px 20px;
  font-family: Arial, Helvetica, sans-serif;
}
encabezado{
  padding: 10px;
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-flow: row wrap;
  align-items:center;
  justify-content:space-evenly;
  border: 0px solid black;
  gap: 10px 10px;
  
}

logoIndex{
  padding: 120px;
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  border: 0px solid black;
  gap: 100px 50px;
}
/*Menu*/

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 10rem;
  background-color: var(--mainColor);
}
nav{
  display: flex;
  position: sticky;
  top: 0;
}
nav ul{
  display: flex;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}
nav ul li:hover{
  background-color: #00496b;
}
nav a{
  margin:0 2rem;
  color: var(--textColor);
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  position: relative;
}
nav a:hover{
  color: var(--secondaryColor2);
  font-size: 20px;
}
nav a::before{
  content: '';
  position: absolute;
  width: 0;
  top: 100%;
  left: 0;
  height: 1px;
  background: #fff;
  transition: .3s;
}
nav a:hover::before{
  width: 100%;

}

header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;

}

/* TABLA */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table th{
  color: #fff;
}

td, th {
  border: 1px solid #0078AF;
  text-align: left;
  padding: 8px;
}

tr:nth-child(0n+1) {
  background-color: #0078AF;
}

/*FORMULARIO*/

form{
  display: flex;
  justify-content: left;
  align-items: start;
}